@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: Roboto;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* -------------- */

._container {
  max-width: 1094px;
  margin: 0px auto;
}

.btn {
  display: inline-block;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 20px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: -o-linear-gradient(bottom, #1eacc7 0%, #4ce2ff 100%);
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  line-height: 52px;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #1eacc7), color-stop(50%, #4ce2ff));
  background-image: -o-linear-gradient(top, #1eacc7 100%, #4ce2ff 50%);
  background-image: linear-gradient(to bottom, #1eacc7 100%, #4ce2ff 50%);
}

.btn_big {
  font-size: 18px;
  line-height: 63px;
  padding: 0px 39px;
}

.heading {
  position: relative;
  z-index: 3;
}

.heading__label {
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  width: 112px;
  line-height: 24px;
  background-color: #000000;
  margin: 0px auto 38px auto;
  text-align: center;
}

.heading__label_white {
  color: #000000;
  background-color: #ffffff;
}

.heading__title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.heading__title_white {
  color: #ffffff;
}

.heading__subtitle {
  margin: 19px 0px 0px 0px;
  height: 17px;
  color: #222222;
  font-size: 17px;
  text-align: center;
}

.heading__subtitle_white {
  color: #ffffff;
}

/* -------------- */

/* -------------- */

.header__top {
  background-color: #212121;
  padding: 10px 0px;
  position: fixed;
  z-index: 50;
  width: 100%;
}

.header__container._container {
  max-width: 999px;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 19px 0px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__company {
  float: left;
}

.header__logo {
  max-width: 285px;
  max-height: 32px;
  margin: 0px 0px 5px 0px;
}

.header__info {
  display: block;
  opacity: 0.5;
  color: #ffffff;
  font-weight: 100;
  font-size: 13px;
}

.header__actions {
  float: right;
}

.header__contact {
  display: inline-block;
  margin: 0px 33px 5px 0px;
  vertical-align: bottom;
  text-align: right;
}

.header__call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin: 0px 0px 8px 0px;
}

.header__phone {
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
}

.header__phone:hover {
  border-bottom: 1px solid #1eacc7;
}

.header__btn {
  vertical-align: text-bottom;
}

.menu__item {
  display: inline-block;
  margin: 0px 28px 0px 0px;
  border-right: 2px dotted black;
  line-height: 31px;
  padding: 0px 33px 0px 0px;
}

.menu__item:last-child {
  border-right: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.menu__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu__link:hover {
  color: #1eacc7;
}

._no-webp .promo{
  background: url("../img/promo_bg.jpg") 0 0/cover no-repeat; }

.promo {
  min-height: 800px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.promo__block {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.promo__title {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.promo__subtitle {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.promo__body {
  max-width: 955px;
  margin: 0px auto 118px auto;
}

.promo__text {
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 30px 0px;
}

.promo__text:last-child {
  margin: 0px 0px 0px 0px;
}

.advantages {
  padding: 50px 0px 10px 0px;
}

.advantages__heading {
  margin: 0px 0px 40px 0px;
}

.advantages__column {
  display: inline-block;
  margin: 0px 110px 40px 0px;
  vertical-align: top;
}

.advantages__column:nth-child(2n + 2) {
  margin-right: 0;
}

.advantages__item {
  display: inline-block;
}

.item-advantages__icon {
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin: 0px 26px 0px 0px;
}

.item-advantages__icon img {
  width: 100%;
}

.item-advantages__body {
  display: inline-block;
  max-width: 350px;
}

.item-advantages__title {
  color: #1eacc7;
  font-size: 17px;
  margin: 0px 0px 5px 0px;
  line-height: 24px;
}

.item-advantages__text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-align: justify;
}

._no-webp .mobile{
  background: url("../img/mobile/mobile_bg.png") 0 0/cover no-repeat; }

.mobile {
  padding: 50px 0px 81px 0px;
}

.mobile__heading {
  margin: 0px 0px 32px 0px;
}

.mobile__column {
  display: inline-block;
  margin: 0px 60px 39px 0px;
}

.mobile__column:nth-child(3n + 3) {
  margin-right: 0;
}

.item-mobile {
  position: relative;
}

.item-mobile__image {
  width: 320px;
  height: 280px;
}

.item-mobile__image img {
  width: 100%;
  border-radius: 3px;
}

.item-mobile__desr {
  color: #ffffff;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 32.5%;
  left: 8.125%;
  z-index: 5;
  width: 267px;
  width: 83.4375%;
}

.item-mobile__plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  left: 45.9375%;
  bottom: 12.5%;
  z-index: 5;
}

.item-mobile__plus:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  margin: 12px 0px 0px 6px;
}

.item-mobile__plus:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin: -7px 0px 0px -1px;
}

.item-mobile__plus:hover {
  background-color: #808080;
}

.item-mobile__plus:hover:before {
  background-color: #ffffff;
}

.item-mobile__plus:hover:after {
  background-color: #ffffff;
}

._no-webp .choice{
  background: url("../img/mobile/mobile_bg.png") 0 0 no-repeat; }

.choice {
  position: relative;
  min-height: 896px;
  padding: 57px 0px 138px 0px;
}

.choice__black {
  height: 499px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.choice__heading {
  margin: 0px 0px 39px 0px;
}

.choice__semicircle {
  width: 583px;
  height: 267px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #1eacc7;
  position: relative;
  z-index: 5;
  margin: 0px auto;
}

.choice__image {
  position: relative;
  z-index: 10;
  text-align: center;
  max-width: 759px;
  max-height: 347px;
  margin: -130px auto 35px auto;
}

.choice__image img {
  width: 100%;
}

.choice__slogan {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.choice__slogan__line {
  margin: 0px 0px 8px 0px;
}

.semicircle__text {
  width: 162px;
  position: absolute;
  top: 31px;
  left: 36.02058%;
  z-index: 6;
  text-align: center;
}

.semicircle__title {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

.semicircle__subtitle {
  font-weight: 300;
  text-transform: uppercase;
}

.conditions {
  padding: 68px 0px 84px 0px;
}

.conditions__heading {
  margin: 0px 0px 53px 0px;
}

.conditions__block {
  display: inline-block;
  width: 478px;
  vertical-align: top;
  margin: 0px 104px 64px 0px;
}

.conditions__block:nth-child(2n + 2) {
  margin-right: 0;
}

.conditions__subtitle {
  color: #1eacc7;
  font-size: 22px;
  margin: 0px 0px 20px 0px;
}

.conditions__subtitle_red {
  color: #ff5656;
}

.conditions__list {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.conditions__list li {
  position: relative;
  padding: 0px 0px 0px 50px;
}

.conditions__list li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #1eacc7;
  margin: 0px 10px 0px 0px;
  position: absolute;
  left: 20px;
  top: 2px;
  z-index: 1;
  background: url("../img/Black_check.svg") 2px 1px/80% no-repeat;
}

.conditions__list_red li:before {
  border: 2px solid #ff5656;
}

.conditions__descr {
  color: #1eacc7;
  font-weight: 300;
  margin: 25px 0px 0px 0px;
  font-size: 17px;
  line-height: 24px;
  padding: 0px 0px 0px 50px;
}

._no-webp .cities{
  background: url("../img/map.jpg") 50% 50%/cover no-repeat; }

.cities {
  min-height: 717px;
  padding: 49px 0px 0px 0px;
  position: relative;
}

.cities__link {
  color: #1eacc7;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid transparent;
}

.cities__link:hover {
  border-bottom: 1px solid #1eacc7;
}

.footer {
  padding: 20px 0px 0px 0px;
  min-height: 156px;
  border-bottom: 8px solid #070716;
}

.footer__center-block {
  text-align: center;
  padding: 30px 0px 0px 0px;
  position: relative;
}

.footer__center-block:before {
  content: "";
  width: 299px;
  height: 4px;
  background-color: #1eacc7;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__link {
  color: #1eacc7;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.footer__link:hover {
  border-bottom: 1px solid #1eacc7;
}

.menu-footer {
  margin: 0px 0px 15px 0px;
}

.menu-footer li {
  display: inline-block;
  margin: 0px 50px 0px 0px;
}

.menu-footer li:last-child {
  margin: 0;
}

.menu-footer__link {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-footer__link:hover {
  color: #1eacc7;
  border-bottom: 1px solid #1eacc7;
}

.submenu-footer {
  margin: 0px 0px 15px 0px;
}

.submenu-footer li {
  display: inline-block;
  margin: 0px 20px 0px 0px;
}

.submenu-footer li:last-child {
  margin: 0;
}

.submenu-footer__link {
  font-size: 11px;
  font-weight: 300;
  color: #999999;
  text-transform: uppercase;
}

.submenu-footer__link:hover {
  border-bottom: 1px solid #999999;
}

._webp .promo{ background: url(../img/promo_bg.webp) 0 0/cover no-repeat; }

._webp .mobile{ background: url(../img/mobile/mobile_bg.webp) 0 0/cover no-repeat; }

._webp .choice{ background: url(../img/mobile/mobile_bg.webp) 0 0 no-repeat; }

._webp .cities{ background: url(../img/map.webp) 50% 50%/cover no-repeat; }